<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNgVQyx8lcp0bWv3wisV0Bt6Y_Pu4Q7l4</string>
	<key>GCM_SENDER_ID</key>
	<string>247135459910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yoMeAnimo</string>
	<key>PROJECT_ID</key>
	<string>yomeanimo-f0bca</string>
	<key>STORAGE_BUCKET</key>
	<string>yomeanimo-f0bca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247135459910:ios:dadef33d790ac99d8f0847</string>
</dict>
</plist>